@charset "utf-8";

@font-face {
    font-family: 'Ghanachocolate';
    src: url('../common/font/Ghanachocolate.otf');
    font-weight: lighter;
}

@font-face {
    font-family: 'jejuGothic';
    src: url('../common/font/JejuGothicOTF.otf');
    font-weight: lighter;
}

@font-face {
    font-family: 'nanumGothic';
    src: url('../common/font/NanumGothicLight.otf');
}

html {
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} 